@import "../../../global/palette.scss";

.container {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  background-color: $color-primary;
  width: 30%;
  display: flex;
}

.content {
  flex: 1;
  display: flex;
}
