.year {
  display: flex;
  align-items: center;

  &__text {
    color: $color-grey-light-2;
    font-size: 2.2rem;
  }
}

.triangle {
  &-left {
    width: 0;
    height: 0;
    border-top: 0.5rem solid transparent;
    border-right: 1rem solid #e8e8e8;
    border-bottom: 0.5rem solid transparent;
    margin-right: 1.5rem;

    &:hover {
      border-right: 1rem solid $color-primary;
    }
  }

  &-right {
    width: 0;
    height: 0;
    border-top: 0.5rem solid transparent;
    border-left: 1rem solid #e8e8e8;
    border-bottom: 0.5rem solid transparent;
    margin-left: 1.5rem;

    &:hover {
      border-left: 1rem solid $color-primary;
    }
  }
}
